<link rel="stylesheet" href="../../style.css" />

<div class="main-wrapper">
  <div class="row" id="homegallery">
  </div>
</div>

<script type="module">
  import { PostDatas } from './constants/posts.js'
  const homegallery = document.getElementById('homegallery')

  const createContentElement = (data, index) => {
    //Initialize div components
    const anchor = document.createElement('a')
    const column = document.createElement('div')
    const imgBox = document.createElement('div')
    const img = document.createElement('img')
    const title = document.createElement('h3')
    const p = document.createElement('p')
    const box = document.createElement('div')
    column.className = 'col-3'
    // create imgBox
    imgBox.className = 'img-box';
    anchor.href=data.url_href;
    img.src=data.img_src;
    img.alt='snapshot'
    img.className='pre-img'
    anchor.appendChild(img)
    imgBox.appendChild(anchor)
    //create pBox
    const pBox = document.createElement('div');
    pBox.className='p-box'
    p.innerText = data.description;
    pBox.appendChild(p);
    title.className='post-title'
    title.innerText = data.title
    box.className='box'
    box.appendChild(imgBox);
    box.appendChild(title);
    box.appendChild(pBox);
    column.appendChild(box)
    return column;
  }

  PostDatas.map((data,index) => {
    const column = createContentElement(data)
    homegallery.appendChild(column, index)

  })
</script>
