<div class="main" id="main">
  <div class="container head flex">
    <a href="#"
      ><img
        id="img-0"
        style="width: 65px"
        class="circle right margin hide-large hover-opacity"
    /></a>
    <span
      class="button hide-large xxlarge hover-text-grey"
      onclick="openSideBar()"
      ><i class="fa fa-bars"></i
    ></span>
    <div class="container">
      <h1>Bài tập về nhà của Nguyễn Lê Nhật Anh</h1>
      <p>Thông báo, hiện website đang trải qua giai đoạn bảo trì, trang portfolio sẽ được cập nhật giao diện trong tháng tới</p>
    </div>
  </div>
</div>
<script>
  const openSideBar = () => {
    document.getElementById("mySidebar").style.display = "block";
  };
</script>
