<div
  class="sidebar bar-block collapse card animate-left"
  style="z-index:3;width: 20%; padding-top: 25px;"
  id="mySidebar"
>
  <div class="container">
    <a href="#" onclick="closeSideBar()" class="hide-large right jumbo padding hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <a href="/">
      <img id="img-0" class="round" style="width:45%;"><br><br>
    </a>
    <h4><b>PORTFOLIO</b></h4>
  </div>
  <a href="/" class="bar-item button"><i class="fa fa-fw fa-home"></i> Home</a>
  <!-- <a href="/about" class="bar-item button"><i class="fa fa-fw fa-user"></i> About</a>
  <a href="/contact" class="bar-item button"><i class="fa fa-fw fa-envelope"></i> Contact</a> -->
</div>
<script>
  const closeSideBar = () => {document.getElementById("mySidebar").style.display = "none"};
</script>
